<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <appSettings>
    <add key="URILog" value="http://localhost:9091/api/V1/log/saveAsync" />
    <!-- URI para llenar los combos Inicio   -->
    <add key="URI_Llenar_Combo" value="http://localhost:9090" />
    <add key="URI_TIPO_DOC" value="/api/V1/obtener/documento/tipo" />
    <add key="URI_PAIS" value="/api/V1/obtener/pais" />
    <add key="URI_PREGUNTA_SECRETA" value="/api/V1/obtener/preguntasecreta/get" />
    <add key="URI_ROL" value="/api/V1/obtener/rol/tipo" />
    <add key="URI_TIPO_TELEFONO" value="/api/V1/obtener/telefono/tipo" />
    <add key="URI_LlenarSEXO" value="/api/V1/obtener/sexo/tipo" />
    <add key="URI_UNIDAD_MEDIDA" value="http://localhost:9090/api/V1/obtener/unidadMedida" />
    <add key="URI_PROVEEDOR_PRODUCTO" value="http://localhost:9090/api/V1/proveedor/{idProveedor}/productos/getObtener" />
    <add key="URI_PROVEEDOR_CONSULTA" value="http://localhost:9090/api/V1/proveedor/activos/getProveedorActivo" />
    <add key="URI_TIPO_PRODUCTO" value="http://localhost:9090/api/V1/producto/tipoProducto/obtener" />
    <add key="URI_TIPO_PRODUCTO_XID" value="http://localhost:9090/api/V1/producto/tipoProducto/{idTipoProducto}/obtener" />
    <add key="URI_ORDENCOMPRA_NROORDENCOMPRA" value="http://localhost:9090/api/ConsultarNroOrdenCompra/ordenCompra/listado/nroOrdenCompra" />
    <add key="URI_Bancos" value="http://localhost:9090/api/V1/banco/obtemer/get" />
    <!-- URI para llenar los combos FIN   -->
    <!--Login INICIO-->
    <add key="URI_Login_Update" value="http://localhost:9095/api/V1/empleado/{idEmpleado}/login/{passwordVieja}/update" />
    <add key="URI_ORDENCOMPRA_AUTORIZAR" value="http://localhost:9095/api/V1/ordenCompra/{idNroOrdenCompra}/empleado/{idEmpleado}/autoriza/update" />
    <add key="URI_ORDENCOMPRA_RECHAZAR" value="http://localhost:9095/api/V1/ordenCompra/{idNroOrdenCompra}/empleado/{idEmpleado}/rechazar/update" />
    <!--Login FIN-->
    <add key="URI_EMPLEADO_AGREGAR" value="http://localhost:9092/api/V1/empleados/agregar" />
    <add key="URI_PROVEEDOR_AGREGAR" value="http://localhost:9092/api/V1/proveedor/agregar" />
    <add key="URI_PROVEEDOR_GenerarOrderCompra" value="http://localhost:9092/api/V1/proveedor/generarOrderCompra/empleado/agregar" />
    <add key="URILOGIN" value="http://localhost:9094/api/V1/login/validar/user/{Userlogin}/password/{Password}/validar" />
    <add key="URI_PRODUCTO_AGREGAR" value="http://localhost:9096/api/V1/producto/agregar" />
    <!--Listado INICIO-->
    <add key="URI_ORDENCOMPRA_LISTA_TODO" value="http://localhost:9097/api/V1/ordenCompra/detalle/listado/todo" />
    <add key="URI_ORDENCOMPRA_LISTA_PENDIENTEAUTORIZAR" value="http://localhost:9097/api/V1/ordenCompra/detalle/listado/pendienteAutorizar" />
    <add key="URI_ORDENCOMPRA_LISTA_AUTORIZADO" value="http://localhost:9097/api/V1/ordenCompra/detalle/listado/autorizado" />
    <add key="URI_ORDENCOMPRA_LISTA_PENDIENTEAUTORIZAR_XNROCOMPRA" value="http://localhost:9097/api/V1/ordenCompra/nroOrden/{nroOrdenCompra}/detalle/listado" />
    <add key="URI_LISTA_EMPLEADOS_ACTIVOS" value="http://localhost:9097/api/V1/empleados/listado/habilitados" />
    <add key="URI_LISTA_EMPLEADOS_INACTIVOS" value="http://localhost:9097/api/V1/empleados/listado/inhabilitados" />
    <add key="URI_LISTA_EMPLEADOS_MAIL" value="http://localhost:9097/api/V1/empleados/{idEmpleado}/listado/mail" />
    <add key="URI_LISTA_EMPLEADOS_TELEFONO" value="http://localhost:9097/api/V1/empleados/{idEmpleado}/listado/telefono" />
    <!--PROVEEDOR-->
    <add key="URI_LISTA_PROVEEDOR_ACTIVOS" value="http://localhost:9097/api/V1/proveedor/listado/habilitados" />
    <add key="URI_LISTA_PROVEEDOR_NOACTIVOS" value="http://localhost:9097/api/V1/proveedor/listado/inhabilitados" />
    <add key="URI_LISTA_PROVEEDOR_MAIL" value="http://localhost:9097/api/V1/proveedor/{idProveedor}/listado/mail" />
    <add key="URI_LISTA_PROVEEDOR_TELEFONO" value="http://localhost:9097/api/V1/proveedor/{idProveedor}/listado/telefono" />
    <add key="URI_LISTA_PROVEEDOR_BANCOS" value="http://localhost:9097/api/V1/proveedor/{idProveedor}/listado/banco" />
    <!--Listado Estado-->
    <add key="URI_LISTA_ESTADO_RECURSO" value="http://localhost:9097/api/V1/estado/listado/recursos" />
    <add key="URI_LISTA_ESTADO_OPERACION" value="http://localhost:9097/api/V1/estado/listado/operacion" />
    <add key="URI_LISTA_ESTADO_LOGIN" value="http://localhost:9097/api/V1/estado/listado/login" />
    <!--Listado INICIO-->
  </appSettings>
</configuration>
<!--ProjectGuid: F352418A-4FB4-457F-9B78-4A9F5A0BAE20-->